@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h2>StudentDB App</h2>

</div>
<div>
   <p>This app performs CRUD operations of database of Students having four tables Teacher, Grade, Course and Student</p>
    <p>this app is created in ASP.Net Core With Razor Pages and EF operating database remotely as per requirement of Assignment</p>
</div>